.title {
  font-size: x-large;
  color: white;
}

.bar {
  background-color: #a0c686;
}

.navlink {
  font-size: larger;
  color: white;
  margin-right: 50px;
}

.dropdown {
  font-size: larger;
  color: white;
}

.dropdownitem {
  color: white;
  background-color: white;
}
