.title {
  font-size: 2em; /* Make the font larger */
  font-weight: bold; /* Make the font bold */
  color: rgb(0, 0, 0);
  letter-spacing: 2px; /* Increase spacing between letters */
}

.title:hover {
  color: #9ab693;
  text-decoration: none; /* Remove underline on hover */
}
.bar {
  background-color: #ffffff;
  border-bottom: solid thin green;
  position: sticky;
  top: 0;
  z-index: 1;

  

}
.navlink:active, .navlink:focus {
  color: rgb(0, 0, 0); /* Or any other color you prefer */
}

.navlink {
  font-size: larger;
  color: rgb(0, 0, 0);
  margin-right: 50px;
}
.navlink:hover {
  color: #9ab693;
} 

.dropdown {
  font-size: larger;
  color: rgb(0, 0, 0);

}
.dropdown:hover {
  color: #9ab693;
} 

.dropdownitem {
  color: white;

}
