/* EventPage.module.css */
.centered {
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}

.boxContainer {
  display: flex;
  justify-content: center;
}

.calendarBox {
  /* width: 600px; */
  display: flex;
  justify-content: center;
}
