/* EventPage.module.css */
.centered {
  display: flex;
  justify-content: center;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  height: 400px;
  margin-top: 10px;
  object-fit: cover;
}

.boxContainer {
  display: flex;
  justify-content: center;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
}

.calendarBox {
  display: flex;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.actionItems {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 170px;
}

.attendeeInfo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
