.mainDiv {
  border-radius: 30px;
  margin-top: 50px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 20px 40px;
  box-shadow: 5px 5px #e4e2e2cc;
  border-style: inset;
  border-color: #e4e2e22d;
}

.contentDiv {
  display: flex;
}

.info img {
  width: 200px;
  margin-right: 40px;
}

.descriptionDateContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-between;
}

.description {
  word-wrap: break-word;
  max-height: 150px;
  overflow: hidden;
  width: 450px;
}

.date {
  margin-left: 20px;
  width: 200px;
}
