.mainDiv {
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-left: 160px;
  margin-right: 160px;
  padding: 20px 40px;
  box-shadow: 5px 5px #e4e2e2cc;
  border-style: inset;
  border-color: #e4e2e22d;
  overflow: hidden;
}

.nameText {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contentDiv {
  display: flex;
}

.info {
  width: 250px;
}

.info img {
  max-width: 90%;
  min-width: 70%;
  object-fit: cover;
  justify-content: center;
  align-content: center;
}

.descriptionDateContainer {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  justify-content: space-between;
}

.description {
  word-wrap: break-word;
  max-height: 150px;
  overflow: hidden;
  width: 450px;
}

.date {
  margin-left: 20px;
  width: 200px;
}

.photos img {
  width: 15%;
  aspect-ratio: 3/2;
  object-fit: containt;
  mix-blend-mode: color-burn;
}
