.friendlistpage {
  display: flex;

  justify-content: center; /* Distribute the boxes evenly */
  padding: 20px;
  gap: 20px; /* Add some space between the boxes */
  flex-wrap: wrap; /* Allow the boxes to wrap to a new line on smaller screens */
}
.Box {
  background-color: black;
}
.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  margin-top: 4%;
}
.friendItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
}
.boldText {
  padding-top: 4px;
  font-weight: bold;
}
