.header {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-around;
}

.profileImage {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.details {
  margin-top: 50px;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  text-align: center;
  width: 50%;
}

.editButton {
  padding: 10px;
  border: 1px solid #d3e4cd;
  border-radius: 5px;
  background-color: #9ab693;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.editButton:hover {
  background-color: #d3e4cd;
  color: #9ab693;
}
