.formGroup {
  text-align: center;
  font-family: "Gabarito", sans-serif;
  color: rgb(0, 0, 0);
}
.eventImagePreview {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}
