.descriptionBox {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add spacing between the boxes */
  flex: 2;
  max-width: 45%;
}

.descriptionBox h2 {
  font-size: 18px;
}
