/* button.module.css */
.normalButton {
  display: inline-block;
  padding: 10px 20px; 
  border: none;
  border-radius: 50px; /* Use a high value to create a circular shape */
  background-color: #d3e4cd;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
}

.normalButton:hover {
  background-color: #a0c686; /* Darker Green */
}

.active {
  /* Define your active state styling here */
  background-color: #a0c686; /* Change the background color to green when active */
  
}

.active:hover {
  background-color: #d3e4cd;
}

/* Add different styling here */
.specialButton {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Use a high value to create a circular shape */
  background-color: #d3e4cd;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
}

.specialButton:hover {
  background-color: #a0c686; /* Darker Green */
}

.customButton {
  /* Add your custom button styles here */
}
