/* button.module.css */
.normalButton {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Use a high value to create a circular shape */
  background-color: #d3e4cd;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
}

.normalButton:hover {
  border: solid thin;
  padding: 9px 20px;
}

.active {
  /* Define your active state styling here */
  background-color: #a0c686; /* Change the background color to green when active */
}

.active:hover {
  border: none;
  padding: 10px 20px;
}

/* Add different styling here */
.specialButton {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 50px; /* Use a high value to create a circular shape */
  background-color: #d3e4cd;
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  margin: 5px;
  cursor: pointer;
  width: 150px;
}

.specialButton:hover {
  border: solid thin;
  padding: 9px 20px;
}

.customButton {
  /* Add your custom button styles here */
}

.btn {
  background-color: #50a717;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
  width: 30%;
}

.createButton {
  background-color: #396918;
  color: white;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
  width: fit-content;
}

.createButton:hover {
  background-color: #50a717;
  color: white;
}

.shoppingListBtn {
  background-color: rgb(26, 105, 209);
  border: none;
  color: rgb(252, 252, 252);
  padding: 6px 10px;
  border-bottom: solid thin rgb(1, 1, 65);
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
  width: fit-content;
}
.shoppingListBtn:hover {
  background-color: rgb(31, 31, 184);
  color: rgb(252, 252, 252);
}

.deleteButton {
  background-color: #d30a0a;
  color: #ffffff;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
  width: fit-content;
}
.deleteButton:hover {
  background-color: #ff0000;
  color: #ffffff;
}

.cancelButton {
  background-color: #ffffff;
  color: #000000;
  padding: 6px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
  width: fit-content;
  border: solid thin rgb(0, 0, 0);
  width: 120px;
}

.cancelButton:hover {
  background-color: #f2f2f2;
  color: #000000;
}
