.calendarBox {
  margin-top: 10px;
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* Add spacing between the boxes */
  max-width: 40%;
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  width: 100% !important;
}
