body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Gabarito", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: "64px";
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-weight: 700;
  font-size: 12px;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}






/* Changing navbar menu item spacing to fit size */
@media (max-width: 880px) {
  #navbar_menu li {
    padding: 0px 9px !important;
  }
}


/*************** ******************/

/* NEW CSS */

.eventImagePreview {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}


.formGroup {
  text-align: center;
  background-color: white;
  font-family: "Gabarito", sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Gabarito", sans-serif;
}
form label,
form input,
form textarea,
form select {
  display: block;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  max-width: 500px;
  border-radius: 20px;
}
input[type="file"]{
  
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    max-width: 500px;
    border-radius: 20px;
  }


input[type="submit"] {
  background-color: #1a8652;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 50px;
  font-size: 16px;
}

input[type="submit"]:hover {
  background-color: #1a7345;
}

#error-message {
  color: red;
  margin-top: 10px;
}

div nav ul {
  background-color: #f9f3db;
}


.site-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f2f2f2;
  
}
