.eventImagePreview {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  height: auto;
  margin-top: 10px;
}

.formGroup {
  text-align: center;
  background-color: white;
}

input[type="text"],
input[type="date"],
input[type="time"],
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  font-size: 16px;
  max-width: 500px;
  border-radius: 20px;
}

#error-message {
  color: red;
  margin-top: 10px;
}

.site-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #f2f2f2;
}
